{% extends 'base.html.twig' %}

{% block title %}Nouvelle facture{% endblock %}

{% block body %}
    <h1> Nouvelle facture </h1>

    {{ include('invoice/_form.html.twig') }}

    <a href="{{ path('invoice_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('invoice') }}
{% endblock%}
