/* css mods for login.html.twig */ 

label {
    min-width: 140px;
    display: inline-block;
}



form {
    width: 24%;
    margin: auto;
}


form div {
    margin-bottom: 0.5rem;
}


#register-form-button {
    margin: 1rem auto;
    display: block;
}


