html, body {
    margin: 0;
    /* padding: 0; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(41, 42, 45);
}

header {
    min-height: 17vh;
    background-color: white;
    box-shadow: inset #ddc 0px -2px 4px 0px;
    padding: 0 1em;
}

h1 {
    margin-top: 0;
    padding-top: 5px;
}


button {
    min-width: 8rem;
    min-height: 2.5rem;
    border: 0;
    background-color: #008080e5;
    color: white;
    letter-spacing: 1px;
    border-radius: 9px;
    margin: 1rem;
}


h2 {
    text-align: center;
}

input, input:active, input:focus, input:focus-within, input:focus-visible, input:target, input:visited {
    border: none;
    border-bottom: 1px solid black;
    padding-left: 0.5rem;
    height: 2em;
}

a {
    color: rgba(234, 79, 4, 0.84);
    font-weight: bold;
    text-decoration: none;
}

