table {
    max-width: 900px;
    margin: 1em auto;
    border-collapse: collapse;
    text-align: center;
}

thead {
    background-color: #bcd;
}

th {
    min-width: 15vh;
}

tbody tr:nth-child(even){
    background-color: #def;
}