table {
    max-width: 900px;
    margin: 1em auto;
    border-collapse: collapse;
    text-align: center;
}

thead {
    background-color: #bcd;
}

th {
    min-width: 18vh;
}

tbody tr:nth-child(even){
    background-color: #def;
}

a.to-new {
    display: block;
    position: relative;
    left: 66%;
    margin: 2em;;
    width: 35vh;
    text-align: center;
    box-shadow: inset -1px -1px 2px #abc;
    border: 1px solid #def;
    border-radius: 8vh;
    padding-top: calc(2%);
    padding-bottom: calc(2%);
}