<!DOCTYPE html>
<html lang='fr'>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/styles/main.css') }}">
        
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        
    </head>
    <body>
        <header>
            <div>
                <h1>
                    EasyInvoicer
                </h1>
            </div>
        </header>
        <section>
            {% block body %}{% endblock %}
        </section>
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </body>
</html>
